@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Quicksand&display=swap');
:root{
    --primary:#ff2e85 !important ;
    --secondary:#ff75ef !important;
    --grey:#e4e3e3 !important;
    --dark:#343a40 !important;
    --txt:'Quicksand',sans-serif;
    --logo:'Pacifico',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    position: relative;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--grey);
    box-sizing: 10px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(var(--primary), var(--secondary));
    border-radius: 10px;
}
.navbar{
    box-shadow: 1px 1px 5px var(--grey);
}
.logo,.logo:hover{
    font-size: 30px !important;
    font-family: var(--logo);
    color: var(--primary);
}
.nav-link{
    color: var(--dark);
}
.nav-link:hover{
    color: var(--secondary);
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    font-size: 30px !important;
}
.navbar .navbar-nav .nav-link .active{
    color: var(--primary);
}
#home{
    padding-top: 20px !important;
}
.social-media li{
list-style: none;
}
.social-media i{
font-size: 36px;
}
.bxl-telegram::after{
content: '';
position: absolute;
width: 5px;
height: 200px;
border-radius: 10px;
background-color: var(--primary);
transform: translate(-500%,35%);
}
.theme-text{
   color: var(--primary); 
}
.about-img{
    margin-left: -20px;
    right: -90px;
    margin-top: 50px;
   }
   
   
   @media (max-width: 700px) {
     .about-img{
       margin-left: 50px;
       right: 0px;
       margin-top: 50px;
      }
   }